/* *{
    margin: 0;
    padding: 0;
}
#p-1{
    width: 100%;
    height: 50vh;
    background-color: red;
}
#p-2{
    width: 100%;
    height: 50vh;
    background-color: blue;
}
#p-3{
    width: 100%;
    height: 50vh;
    background-color: aqua;
} */